<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <apender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"/>
    <logger name="com.dokhabackend.dokha" level="TRACE"/>
    <logger name="flyway" level="ERROR"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
